<h2><%= t('our_surveys') %></h2>
<p class="lead">
	<%= t('take_survey_hint') %>
</p>
<ul class="list-group">
<% for survey in @surveys %>
	<li class="list-group-item"><%= link_to survey.title, survey %></li>
<% end %>
</ul>