<h1>Finally</h1>
<p>
another human soul around here! There is really not much going on here...
</p>
<br>
<p>I'm Line and I'm living here - since forever. There is really not much to tell about me. Except maybe, that I'm a <b>horrible</b> liar.</p>
<br>
<p>Why I tell you? Naa, I really don't want to talk too private here. You never know who's listening.</p>
<br>
<p>But then .. I haven't talked to another human being since half a lifetime ...  Ah, what the heck! Now that you are here, why not!</p>
<br>
<p>Well, I'm really bad at lying. If I would be about to lie into someone's face, you could see my eyes twitching like crazy. Also, I can't manage to keep my voice in check. And unfortunately, that's only a useful talent if you are singing opera.</p>
<br>
<p>But to be honest, it's really not all that bad! I'm actually quite proud of it. And there is a simple reason to that. You know what they say: Use your weakness as your shield.</p>
<br>
<p>And that is what I do. Since I can't really lie without you smelling it 50 meters away - yesterday - I just don't do it and instead, I tell people my honest opinion. Brutally. In their faces.</p>
<br>
<p>Yea, that works out pretty well for me. And - you won't believe it - they are thankful for it. You wouldn't think how eager people are to hear an honest opinion once in a while. The essence is <b>constructivity</b> - always show the way to improve.</p>
<br>
<p>Not convinced? Okay, challenge accepted! Let us play a little game... </p>
<br>
<p>I will first tell you what I honestly think of you and then I'll prove it to you with a little game. Ready? Here we go ...</p>
<br>
<h2>My honest opinion of you</h2>
<p>You are a self-aware person that is convinced to be a very tolerant person, but thruth be told you are as intolerant as it gets! Though, the only thing you really lack is <b>awareness</b> for the other person's background.</p>
<br>
<h2>A little game</h2>
<p>And now the fun part. We will play a little game which will show to you that I am right; which will open your eyes; which will teach you something very important about yourself.</p>
<br>
<p>You will hear from me about ten situations and you tell me how you choose to react. Nothing complex, really. But <b>primal</b>. Some situations will be tough. Just take your time. The only rule: Be honest! And in the end, you have to show a little empathy. That's all.</p>
<br>
<p>So, can we start? Or are you chicking out?</p>
<br>
<p>Good! Let me ask you the first question then... <a href="/surveys/<%= params["id"] %>/take_surveys">to your little piece of mind</a></p>