<script type="text/javascript">
  $(function(){
      $("#typed_container_1").typed({
          stringsElement: $('#typed_strings_1'),
          //strings: ["1","2"],
          typeSpeed: 5,
          startDelay: 0,
          onTyped: function(i) {
            // scroll the panel
            var d = $('#bla');
            d.scrollTop(d.prop("scrollHeight"));
          }
      });
  });
</script>

<% content_for :title do %>
  Tolerance
<% end %>

<div id="typed_strings_1">
<p><mark>???:</mark> ^1000 Finally! ^1000 Another human soul around here!
  <br>
  <mark>???:</mark> ^500 There's really not much going on here... 
  <br>
  <mark>???:</mark> ^1000 Nice to meet you!
  <br><br>
  <mark>???:</mark> ^1000 I'm <b>Line</b>. ^500 I live here. Since forever. ^500 And I rarely have visitors. 
  <br>
  <mark>Line:</mark> ^1000 Hu? ^500 Who I am?
  <br>
  <mark>Line:</mark> ^1000 Hope you are not expecting great stories about personality ... ^500 There's not much to tell about me. Except maybe ^500 .^100.^100.^100 that I'm a <b>horrible</b> liar!
  <br><br>
  <mark>Line:</mark> ^1000 Why telling you?
  <br>
  <mark>Line:</mark> ^1000 Naa, I really don't wanna talk too private here... ^1000 You never know who's listening...
  <br>
  <mark>Line:</mark> ^1000 On the other hand .. ^1000 feels like half a lifetime since I last talked to anyone ... 
  <br>
  <mark>Line:</mark> ^1000 You trustworthy? ^1000 Ah, what the heck! Now you are here^500, so why not!
  <br><br>
  <mark>Line:</mark> ^2000 So, I'm reeeally bad at lying. ^1000 I get twitchy eyes and a trembling voice. ^1000 Just can't keep it in check... And unfortunately ^500, I'm not singing opera.
  <br>
  <mark>Line:</mark> ^1000 But to be honest, it's not all that bad!
  <br>
  <mark>Line:</mark> ^1000 I'm actually quite proud of it. My honesty I mean.
  <br>
  <mark>Line:</mark> ^1000 You know what they say: Use your weakness as your shield.
  <br>
  <mark>Line:</mark> ^1000 So what I do is, I just don't lie and instead, I tell people my honest opinion.
  <br>
  <mark>Line:</mark> ^1000 Brutally.
  <br>
  <mark>Line:</mark> ^1000 Just in their face.
  <br>
  <mark>Line:</mark> ^1000 That works pretty well!
  <br>
  <mark>Line:</mark> ^1000 Maybe you won't believe it but - ^1000 they are actually thankful for it!
  <br>
  <mark>Line:</mark> ^1000 The essence is <b>constructivity</b> - show them that they can improve. ^1000 And how.
  <br>
  <br>

  <mark>Line:</mark> ^1000 Not convinced?
  <br>
  <mark>Line:</mark> ^1000 Ok. ^1000 Challenge accepted! ^500 ;-)
  <br>
  <mark>Line:</mark> ^1000 Let's play a little game ...
  <br>
  <mark>Line:</mark> ^1000 I'll first tell you what I honestly think of you. ^1000 And then I'll make you understand with a little <b>game</b>.
  <br>
  <mark>Line:</mark> ^2000 You in? ^1000 Nice! ^1000 Ready? ^1000 Good. ^1000 Here we go ...
  <br><br>

  <mark>Line:</mark> ^1000 I think ^1000 you are a pretty self-aware and reflected person.
  <br>
  <mark>Line:</mark> ^1000 You are also quite convinced to be tolerant enough with your fellows.
  <br>
  <mark>Line:</mark> ^1000 You know what is going on in the world.
  <br>
  <mark>Line:</mark> ^1000 You read the news. ^1000 And see them in the TV.
  <br>
  <mark>Line:</mark> ^1000 It's horrible what is going on in Syria.
  <br>
  <mark>Line:</mark> ^1000 Or Iraq.
  <br>
  <mark>Line:</mark> ^1000 The so called Islamic State is torturing people.
  <br>
  <mark>Line:</mark> ^1000 Cutting off people's heads and hanging them publicly.
  <br>
  <mark>Line:</mark> ^1000 For not believing in the "right" god.
  <br>
  <mark>Line:</mark> ^1000 Of which we <i>don't even know</i> it exists!
  <br>
  <mark>Line:</mark> ^1000 It's just horrible!
  <br><br>

  <mark>Line:</mark> ^1000 But. ^1000 But!
  <br>
  <mark>Line:</mark> ^1000 I think, you know all this in your head.
  <br>
  <mark>Line:</mark> ^1000 But you haven't realized what it means emotionally. ^1000 From the human perspective.
  <br>
  <mark>Line:</mark> ^1000 You haven't realized that when they talk about these things in the news, it actually affects lives of people like you and me.
  <br>
  <mark>Line:</mark> ^1000 I don't think you <b>emphasize</b> with those people.
  <br>
  <mark>Line:</mark> ^1000 You think because it happens in another country, you are safe.
  <br>
  <mark>Line:</mark> ^1000 You are detaching yourself emotionally to protect yourself from it.
  <br>
  <mark>Line:</mark> ^1000 You think this is how you can avoid to do something about it.
  <br>
  <mark>Line:</mark> ^1000 You hope other's will do it for you.
  <br><br>
  <mark>Line:</mark> ^3000 Let me ask you something: ^1000 If you were living in Syria. ^1000 How would you like the rest of the world to behave?
  <br>
  <mark>Line:</mark> ^1000 Watching and doing nothing?
  <br>
  <mark>Line:</mark> ^1000 Or publicly speaking against it? ^1000 Putting pressure on your government to finally put an end to the bombs against the governments own people?
  <br><br>

  <mark>Line:</mark> ^1000 Easy. ^1000 Right? ^500 ;-)
  <br><br>

  <mark>Line:</mark> ^3000 But, I want to be fair.
  <br>
  <mark>Line:</mark> ^1000 It's difficult to fully <b>emphasize</b> with people in such extreme conditions in the western countries.
  <br>
  <mark>Line:</mark> ^1000 Because it's so peaceful here.
  <br>
  <mark>Line:</mark> ^1000 And we simply don't know how war feels.
  <br>
  <mark>Line:</mark> ^1000 Many western countries haven't encountered war for a long time.
  <br>
  <mark>Line:</mark> ^1000 The younger generation only knows war from movies. ^500 And games. ^500 And the stories of their grandparents.
  <br>
  <mark>Line:</mark> ^1000 So of course it's difficult to realize how those people really feel.
  <br><br>

  <mark>Line:</mark> ^1000 But then. ^500 Just try it for a short moment. 
  <br>
  <mark>Line:</mark> ^1000 Try to imagine, how it must feel like when you are surrounded by war.
  <br>
  <mark>Line:</mark> ^1000 People dying around you. ^500 Every day.
  <br>
  <mark>Line:</mark> ^1000 Your family is not safe. 
  <br>
  <mark>Line:</mark> ^1000 Your friends are not safe. 
  <br>
  <mark>Line:</mark> ^1000 Your house could be destroyed every day. 
  <br>
  <mark>Line:</mark> ^1000 Chaos lives in the streets of your city. ^500 And people are using that chaos to their advantage. ^500 Surpressing good-willed people. ^500 Who only want to work. ^500 And live in peace.
  <br><br>

  <mark>Line:</mark> ^1000 I think the least of your worries is how Volkswagen manipulates their NOX filters.
  <br>
  <mark>Line:</mark> ^1000 Or how your stock is developing.
  <br>
  <mark>Line:</mark> ^1000 Or whether you need a faster PC for the next blockbuster game.
  <br><br>

  <mark>Line:</mark> ^1000 So, ^500 honestly?
  <br>
  <mark>Line:</mark> ^1000 I think you lack <b>awareness</b>. 
  <br>
  <mark>Line:</mark> ^1000 Because you haven't put yourself in the place of a Syrian.
  <br>
  <mark>Line:</mark> ^1000 Because you lack real empathy for them.
  <br>
  <mark>Line:</mark> ^1000 Because you keep your emotional distance to it.
  <br><br>

  <mark>Line:</mark> ^1000 Awareness, how it must feel to have your own house bombed that you have payed off all your life since you were 23 years old.
  <br>
  <mark>Line:</mark> ^1000 In which you lived with your wife for 16 years.
  <br>
  <mark>Line:</mark> ^1000 In which you raised your two kids which are now going to grammar school. 
  <br>
  <mark>Line:</mark> ^1000 How it must feel to have your religion forbidden by your rightfully elected government in which you believed strongly since you were a teenager and your grandpa told you that grandma is sitting up there and waiting for you.
  <br>
  <mark>Line:</mark> ^1000 Awareness, how it must feel to loose first your wife and then your younger son. ^500 And that it is everyday life. ^500 Almost everyone has lost someone important.
  <br>
  <mark>Line:</mark> ^1000 Having to flee your own country because your own government makes you and your kids illegal.
  <br>
  <mark>Line:</mark> ^1000 Having nothing. ^500 Fighting for your life in cold, ^500 without shelter, ^500 in countries with other languages.
  <br>
  <mark>Line:</mark> ^1000 Not knowing where home is.
  <br>
  <mark>Line:</mark> ^1000 Arriving in a rich and stable country that gives you the hope to get the chance to build up a new life.
  <br>
  <mark>Line:</mark> ^1000 Realizing that the people you hoped would help you, don't want you in their country. 
  <br>
  <mark>Line:</mark> ^500 Don't want to share with you.
  <br>
  <mark>Line:</mark> ^500 Spit on you. 
  <br>
  <mark>Line:</mark> ^500 Demonstrate against you on the streets. ^500 Calling you a pig, ^500 parasite ^500 and worse things.
  <br><br>

  <mark>Line:</mark> ^1000 Yes.
  <br>
  <mark>Line:</mark> ^1000 That's life.
  <br>
  <mark>Line:</mark> ^1000 Not some game or some drama in the TV.
  <br>
  <mark>Line:</mark> ^1000 It's <b>real</b> and happens every day. ^1000 For them.
  <br>
  <mark>Line:</mark> ^1000 They are not different from you.
  <br>
  <mark>Line:</mark> ^1000 Just unlucky to be born in the wrong place at the wrong time.
  <br><br>
  <mark>Line:</mark> ^5000 Awareness.
  <br>
  <mark>Line:</mark> ^3000 Empathy.
  <br>
  <mark>Line:</mark> ^1000 Humaneness.
  <br><br>

  <mark>Line:</mark> ^5000 Now the fun part. ^1000 Let's play a little game.
  <br>
  <mark>Line:</mark> I'll describe you ten situations. ^500 And you tell me how you would act.
  <br>
  <mark>Line:</mark> ^1000 Nothing complex, ^500 really. ^500 But <b>primal</b>.
  <br>
  <mark>Line:</mark> ^1000 Some situations will be tough. ^500 So take your time...
  <br><br>

  <mark>Line:</mark> ^1000 The only rule: Be honest. ^500 To yourself. 
  <br>
  <mark>Line:</mark> ^1000 Don't think about it with your head only. <i>Feel</i>.
  <br>
  <mark>Line:</mark> ^1000 That's all.
  <br><br>
  <mark>Line:</mark> ^1000 And you will see, that I am right.
  <br>
  <mark>Line:</mark> ^1000 And in the end, there's a little surprise for you. 
  <br>
  <mark>Line:</mark> ^1000 You will see that you are closer to the Syrian people than you thought.
  <br>
  <mark>Line:</mark> ^1000 That you are very similar to them in many aspects.
  <br><br>

  <mark>Line:</mark> ^3000 Ready? ^500 Good! ^500 Let me ask you the <a href="/surveys/<%= params["id"] %>/take_surveys">first question</a> then...</p>
</div>
<div id="bla" style="overflow:auto;overflow-x:hidden;max-height:400px;font-size:200%;">
<span id="typed_container_1"></span>
</div>