<div class="page-header">
	<h1>Welcome to Open Borders!</h1>
</div>
<p class="lead">
	With our projects we want to stress that <mark>people from various nations on this planet are not that different</mark>.
</p>
<p>
	Especially, when it comes to the fundamental needs such as food, water, shelter we are all the same. Thinking in nationalities is normal and gives us safety. The concept of a nationality and nation gives us the feeling to belong to a group, which stands against other groups. Humans need this feeling of identification to not feel alone and work as a "team". You can see it in soccer (teams), in politics (parties), economics (companies, departments, ...) and the list goes on and on ...
</p>
<p>
	Evolution has made us this way, "survival of the fittest". The strongest survives. And since several together are stronger than individuals, groups emerged.
</p>
<p class="lead">
	This is perfectly fine so far. However, this nation-thinking also bears risks.
</p>
<p>
	Most of all, we forget that the others are also just humans. And they want the same thing as you: Survive. In all the discussions about the so called "refugee-crisis" taking place in Europe at the moment we felt, that the emotional aspect was mostly neglected. When politicians are talking about refugees, it sounds like some abstract thing with no meaning. But think about it: Every single refugee behind those huge numbers of immigrants stands for one life. Such as yours. With family, or without. With unique characters and personality. Emotions and need for safety.
</p>
<p></p>
<p class="lead">
We are two (German) guys who want to create awareness for this refugee-mindset-problem in our own way.
</p>
<p>
	Since we are geeks it made sense to develop this website. To get started navigate to the <%= link_to "surveys section", controller: :surveys, action: :index %>.
</p>