<div class="page-header">
<h1>Help us and contribute</h1>
</div>

<p class="lead">
	At the moment we are just two guys who are developing and maintaining this project in their free time.
</p>
<p>
	We are looking for more people to join us and realize our ideas for our <mark>tolerance</mark> project. That includes:
</p>

<dl class="dl-horizontal">
	<dt>translaters</dt><dd>to translate our surveys into a manifold of languages, such that we can reach as many people as possible;</dd>
	<dt>designers</dt><dd>to illustrate our surveys with sketches to make the project more lively;</dd>
	<dt>writers</dt><dd>to come up with new situations, questions and answers; when we wrote the current state of <mark>tolerance</mark> we got inspired by the style of "<a href="http://www.stanleyparable.com/">The Stanlay Parable</a>" (Davey Wreden & William Pugh); we would like to keep it that way;</dd>
	<dt>programmers</dt><dd>to improve the website;</dd>
</dl>

<p>
	You can find <mark>tolerance</mark> <a href="https://github.com/openborders/tolerance">on GitHub</a>.
</p>
