<div class="page-header">
	<h1>Contact us</h1>
</div>

<p class="lead">
	You can contact us via mail:
	<dl class="dl-horizontal">
		<dt>Christian Wiwie</dt><dd><a href="mailto:jonsnow@posteo.de">click</a></dd>
		<dt>Yannic Haupenthal</dt><dd><a href="mailto:yhaupenthal@posteo.de">click</a></dd>
	</dl>

	or leave a message / comment on <a href="https://github.com/openborders/tolerance">Github</a>.
</p>