<div class="page-header">
	<h1>Contact us</h1>
</div>

<p class="lead">
	You can contact us via mail:
	<dl class="dl-horizontal">
		<dt>Christian Wiwie</dt><dd>jonsnow [at] posteo [dot] de</dd>
		<dt>Yannic Haupenthal</dt><dd>y.h+ob [at] posteo [dot] de</dd>
	</dl>

	or leave a message / comment on <a href="https://github.com/openborders/tolerance">Github</a>.
</p>
