<div class="page-header">
	<h1><%= raw t('contact_us') %></h1>
</div>

<p class="lead">
	<%= raw t('contact_via_mail') %>
	<dl class="dl-horizontal">
		<dt>Christian Wiwie</dt><dd>jonsnow [at] posteo [dot] de</dd>
		<dt>Yannic Haupenthal</dt><dd>y.h+ob [at] posteo [dot] de</dd>
	</dl>

	<%= raw t('leave_msg_com_github') %>
</p>
